.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    padding-block: 1rem;
}
.breadcrumb li{
    color: var(--cl-main-blue);
}
.breadcrumb li.active {
    color: var(--cl-black);
}
    
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "|";
}
    