/* Reset */
*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Custom variables */
:root{
  /* Colors */
  --cl-main-blue : #2460a6;
  --cl-body-bg : #fafafa;
  --cl-black : #000000;
  --cl-white : #FFFFFF;
  --gray-dark : #222222;
  --gray-medium : #999999;
  --gray-light : #CCCCCC;
  --gray-lightest : #EEEEEE;
}

/*Main Set-up*/
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cl-body-bg);
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}

/* Utility classes */
.flex_container{
  display: flex;
}
.grid_container{
  display: grid;
}
.inline_padding{
  padding-inline: 11%;
}
.bold{
  font-weight: bold;
}
.btn{
 padding: 0.7rem 2rem;
 width: max-content;
}
.btn_blue{
  background-color: var(--cl-main-blue);
  color: white;
}
.btn_white{
  background-color: var(--cl-white);
  color: var(--cl-main-blue);
}

/* Top-nav */
#top_nav{
  background-color: var(--gray-lightest);
  color: var(--cl-black);
}
#top_nav ul{
  justify-content: end;
}
#top_nav ul li{
  text-align: center;
  padding: 1rem 2rem;
  border-right: 1px dashed var(--gray-medium)
}

/* Main-nav */
#main_nav{
  background-color: var(--cl-white);
  color: var(--cl-main-blue);
  align-items: center;
  padding-block: 1.2rem;
}
#main_nav img{
  width : 11%;
}
#main_nav ul{
  margin-left: 2rem;
  gap:3.5rem
}

/* Section Hero */
.hero_banner{
  background-image: url(../img/hero_bg_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: right;
  padding-block: 16rem;
}
.hero_banner h1{
  font-size: 3rem;
  text-transform: uppercase;
}
.hero_banner p{
  margin-bottom: 1.5rem;
}

/* Section Call to action Offres */
.cta_offers{
  background-color: var(--cl-main-blue);
  color: var(--cl-white);
  text-align: center;
  padding-block: 3rem;
}
.section_title{
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.3rem;
}

/* Section Véhicules */
.vehicules{
  padding-block: 2rem;
}
.model_cards_container{
  margin-top: 2rem;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.model_card{
  box-shadow: 0 0 20px var(--gray-light);
}
.card_img{
  width: 100%;
}

.model_card_infos{
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.card_title{
  color: var(--cl-main-blue);
}
.card_text{
  text-transform: uppercase;
  color: var(--gray-dark);
  font-size: 0.8rem;
}

/* Section Style */
.styles{
  background-color: var(--cl-black);
  color: var(--cl-white);
  padding-block: 3rem;
}
.style_section_title{
  text-transform: uppercase;
  font-size: 4.3rem;
  text-align: end;
}
.style_card_container{
  transform : translateY(-22px);
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.style_card{
  position: relative;
}
.style_card_title{
  position: absolute;
  top: 50px;
  left: -10px;
  padding: 1.2rem;
  background-color: var(--cl-main-blue);
  opacity: 0.8;
  width: 120px;
}
.style_number{
  font-size: 3rem;
}
.style_text{
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}

/* Footer */
#main_footer{
  padding-block: 3rem;
  grid-template-columns: 1fr 1fr 2fr;
}
.footer_list_title{
  padding-left: 1rem;
  font-size: 1.2rem;
}
.footer_list{
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--gray-light);
}
.footer_list{
  color: var(--cl-main-blue);
  line-height: 1.4rem;
  font-size: 0.9rem;
}
.footer_list.grid_container{
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 800px) {
  .footer_list.grid_container{
    grid-template-columns: 1fr;
  }
  #main_footer{
    grid-template-columns: repeat(3, 1fr);
  }
}