/* Reset */
*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Custom variables */
:root{
  /* Colors */
  --cl-main-blue : #2460a6;
  --cl-dark-blue :#18467A;
  --cl-light-blue : #4380C3;
  --cl-body-bg : #fafafa;
  --cl-black : #000000;
  --cl-white : #FFFFFF;
  --gray-dark : #222222;
  --gray-medium : #999999;
  --gray-light : #CCCCCC;
  --gray-lightest : #EEEEEE;
}

/*Main Set-up*/
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cl-body-bg);
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}
li > a:hover{
  text-decoration: underline;
}

/* Utility classes */
.flex_container{
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.grid_container{
  display: grid;
}
.inline_padding{
  padding-inline: 11%;
}
.upper{
  text-transform: uppercase;
}
.bold{
  font-weight: bold;
}
.btn{
 padding: 0.7rem 2rem;
 width: max-content;
}
.btn_blue{
  background-color: var(--cl-main-blue);
  color: white;
  transition: all 200ms ease-in-out;
}
.btn_blue:hover{
  background-color: var(--gray-dark);
  box-shadow: inset 0px 0px 0px 1px var(--cl-white);
}
.btn_white{
  background-color: var(--cl-white);
  color: var(--cl-main-blue);
  transition: all 200ms ease-in-out;
}
.btn_white:hover{
  color: var(--cl-white);
  background-color: var(--cl-main-blue);
  border: 1px solid var(--cl-white);
}
.text_center{
  text-align: center;
}
.dark_blue_bg{
  background-color: var(--cl-dark-blue);
}
.text_shadow{
  text-shadow: 3px 3px 0 black;
}

/* Top-nav */
#top_nav{
  background-color: var(--gray-lightest);
  color: var(--cl-black);
}
#top_nav ul{
  justify-content: end;
}
#top_nav ul li{
  text-align: center;
  padding: 1rem 2rem;
  border-right: 1px dashed var(--gray-medium)
}

/* Main-nav */
#main_nav{
  background-color: var(--cl-white);
  color: var(--cl-main-blue);
  align-items: center;
  padding-block: 1.2rem;
  grid-template-columns: 20% 1fr;
}
#nav_logo a img{
 width: 100%;
}
#main_nav ul{
  margin-left: 2rem;
  gap:3.5rem
}
/* preparation pour un futur ajout de classe en JS */
#main_nav ul li.active{
  text-decoration: underline;
}

/* Footer */
#main_footer{
  padding-block: 3rem;
  grid-template-columns: 1fr 1fr 2fr;
}
.footer_list_title{
  padding-left: 1rem;
  font-size: 1.2rem;
}
.footer_list{
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--gray-light);
}
.footer_list{
  color: var(--cl-main-blue);
  line-height: 1.4rem;
  font-size: 0.9rem;
}
.footer_list ul.flex_container li {
  flex: 0 0 50%;
  max-width: 50%;
}
.footer_list.grid_container{
  grid-template-columns: 1fr 1fr;
}

/* Fil d'ariane */
.breadcrumb{
  display: flex;
  flex-wrap: wrap;
  padding-block: 1rem;
}
.breadcrumb li{
  color: var(--cl-main-blue);
}
.breadcrumb li a h1{
  font-size: 1rem;
  font-weight: normal;
}
.breadcrumb li.active {
  color: var(--cl-black);
}
.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: "|";
}

/* Actualités */
#actualites_articles{
  margin-block: 2rem 4.5rem;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#actualites_header{
  background-image: url(../img/events.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-block: 2rem;
}
#actualites_header .contact_subtitles{
  margin-bottom: 2rem;
}
#actualites_header .btn_blue{
  padding: 0.5rem 2rem;
  margin-left: 50%;
}
.actualite{
  box-shadow: 0 0 20px var(--gray-light);
  transition: all 200ms ease-in-out;
}
.actualite:hover{
  transform: scale(1.05);
}
.news_card_img{
  width: 100%;
  object-fit: cover;
}
.news_card_info{
  flex-direction: column;
  justify-items: end;
  padding: 2.5rem 1rem 1rem;
  height: 15rem;
  position: relative;
}
.news_card_date{
  padding: 0.5rem 1rem;
  background-color: var(--cl-black);
  box-shadow: 0 0 12px var(--gray-light);
  color: var(--cl-white);
  width: fit-content;
  position: absolute;
  top: 0;
  left : 0;
  transform: translateY(-50%);
}
.news_card_title{
  text-transform: uppercase;
}
.news_card_link{
  margin-top: auto;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
}

/* Newsletter */
#newsletter{
  color: var(--cl-white );
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  gap: 2rem;
  height: 13rem;
}
#newsletter_title{
  text-transform: uppercase;
  font-size: 1.5rem;
}
#newsletter_subtitle{
  font-size: 1.2rem;
}
#newsletter_input{
  width: 100%;
}
#newsletter_input::placeholder{
  font-style: italic;
}
#newsletter_btn{
  padding: 0.6rem 2rem;
  border: none;
}
#newsletter_form{
  background-color: var(--cl-black);
  padding: 3.2rem 2rem;
  gap: 1rem;
  transform: translate(-15px, -5rem);
}
#ford_quote, #ford_quote_next{
  font-style: italic;
  font-size: 3rem;
  font-family: serif;
}
#ford_quote_next{
  margin-left: 2.5rem;
}
#ford_quote::before{
  content: '«';
  margin-right: 0.5rem;
  font-size: 4.5rem;
  display: inline-block;
}
/* Media queries */

@media(max-width : 45em){
  #top_nav, #main_nav, #main_footer{
    padding-inline: 5%;
  }
  #top_nav ul{
    justify-content: center;
    align-items: center;
  }
  #top_nav ul li{
    font-size: 0.8rem;
    padding-inline: 1rem;
  }
  #top_nav ul li:last-of-type{
    border-right: none;
  }
  #main_nav{
    grid-template-columns: 1fr;
    padding-block: 0.5rem;
  }
  #nav_logo{
    margin-inline: auto;
    width: 40%;
    margin-block: 1rem;
  }
  #main_nav ul{
    justify-content: space-around;
    gap: 0.5rem;
    margin: 0;
    font-size: 0.8rem;
  }
}

@media (max-width: 68em) {
  .footer_list ul.flex_container {
    flex-direction: column;
  }
  #main_footer{
    grid-template-columns: repeat(3, 1fr);
  }
  #actualites_articles{
    padding-inline: 5%;
  }
  #newsletter{
    grid-template-columns: 1fr;
    padding-inline: 0;
    padding-top: 0;
    height: 100%;
    gap: 0;
  }
  #newsletter_quote{
    padding-inline: 6%;
    padding-block: 3.5rem;
  }
  #newsletter_form{
    transform: translate(0);
  }
}